body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: black;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: white;
    color: #9ba394;
    border-radius: 0;
    border-bottom: 10px solid#9ba394;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid #ffefea;;
  }
  
  .hour {
    background-color: #ffefea;
    color: #9ba394;
    border-top: 1px dashed #D4DCCD;
  }
  
  .past {
    background-color: #FFE8E1;
    color: #9ba394;
  }
  
  .present {
    background-color: #EFAAC4;
    color: black;
  }
  
  .future {
    background-color: #FFC4D1;
    color: black;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #D4DCCD;
    color: #6B717E;
  }
  .savey {
    background-color: #D4DCCD;
    color: #6B717E;
  }

  .cleary {
    background-color: #D4DCCD;
    color: #6B717E;
  }
  
  .saveBtn:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
  .col-lg-4 {
    display: none;
  }
  
  .bottom {
    text-align: center;
  }
  @media screen and (max-width: 1000px) {
  
    .col-lg-10 {
        width: 460px;  
    }
  
    .col-lg-1 {
      width: 110px;
    }
  
    .row {
    width: 700px ;
    }
  
  }
  
  @media screen and (max-width: 710px) {
  
    .col-lg-10 {
        width: 382px;  
    }
  
    .col-lg-1 {
      width: 58px;
    }
  
    .row {
    width: 500px ;
    }
  
    .textarea {
      font-size: x-small;
    }
  
  }
  
  @media screen and (max-width: 510px) {
  
    .col-lg-10 {
        width: 254px;  
    }
  
    .col-lg-1 {
      width: 50px;
    }
  
    .row {
    width: 355px ;
    }
  
    .hour {
      font-size: small;
    }
    
  }